* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    margin: 80px auto;
    width: 550px;
    height: 200px;
    background-color: #b4b0b0;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    color: #4d4c4c;
    font-family: verdana;
}

.card__description {
    font-size: 0.9em;
    line-height: 1.5;
    font-weight: 400;
}

.card__img {
    height: 100%;
    width: 190px;
    background-color: #f4efef;
    border-radius: 6px;
}

.card__div {
    height: 100%;
    width: 350px;
    text-align: left;
    padding-left: 8px;
}

.card__line {
    height: 3px;
    width: 100%;
    background-color: #f4efef;
    border-radius: 100px;
    margin: 8px 0 15px;
}